sym_lnk
*.so

# Agents
.codegraph
.sisyphus

# Byte-compiled
__*cache__
.ipynb_checkpoints
~$*.*
.~*.*
*.egg-info

# Environments
desktop.ini
.idea
.vscode
.clion.source.upload.marker

# datasets and projects
.DS_Store
cmake-build*
build
log
runs
install

# Neural Network weights
*.pt
*.pth
*.onnx
*.ckpt
